@import "reset.css";
@import "common.css";

/* misc */

body {
  font-size: 14px;
  font-family: Lucida Grande, Lucida Sans Unicode, verdana, helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: #eff0f2 !important;
  text-align:center;
}

input, textarea{
  font-family: Lucida Grande, Lucida Sans Unicode, verdana, helvetica, arial, sans-serif;
}

hr {
  background-color:#000;
  border:medium none;
  height:2px;
  margin: 20px 0 20px 0;
}

h2, h3, h4, h5 { font-family: "Trebuchet MS", Helvetica, Tahoma, sans-serif; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }

a { text-decoration: none; color: #000; }
a:hover { color: #48887A; }

/* user-bar */

#user-bar {
  margin: 10px;
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
}

#user-bar .button{
  font-size: 13px;
  display: inline-block;
  padding: 3px 5px 3px;
  text-decoration: none;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  box-shadow: 1px 1px 0px #FFF;
  -moz-box-shadow: 1px 1px 0px #FFF;
  -webkit-box-shadow: 1px 1px 0px #FFF;

  text-shadow: 1px 1px 1px #FFF;
  font-weight: bold;
  border: 1px solid #cccccc;
  position: relative;
  cursor: pointer;
  color: #666;
  background-image: -moz-linear-gradient(center top, #f0f0f0, #d9d9d9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#d9d9d9));

  -pie-background: linear-gradient(center top, #f0f0f0, #d9d9d9);
  behavior: url(/javascripts/vendor/PIE.htc);
}

/* header */

div#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  position: relative;
}

div#header{
  height: 213px;
  line-height: 213px;
  margin-bottom: 30px;
  background: url(/images/separator.png) repeat-x bottom;
}

div#header #logo{
  float:left;
}

div#header #main-nav {
  float:right;
  margin-top:75px;
}

/* footer */

div#footer {
  padding-top: 10px;
  height: 150px;
  background: url(/images/separator.png) repeat-x top;
  text-align: center;
  clear: both;
  display: block;
}

div#footer #info {
  padding: 0;
  margin: 0;
  float:right;
  overflow:hidden;
}

div#footer #footer-nav {
  margin-top: 10px;
  overflow:hidden;
  float:left;
}

/* menu */

div#header #main-nav ul { list-style:none; }

div#header #main-nav li {
  display:inline;
  float:left;
  line-height:12px;
  margin-right:20px;
}

div#header #main-nav a {
  font-family: "Trebuchet MS", Helvetica, Tahoma, sans-serif;
  font-size: 16px;
}

div#header #main-nav li.current a span {
  color:#48887A;
}

div#header ul, div#footer ul {  list-style:none; }

div#header li,
div#footer li {
  display:inline;
  float:left;
  line-height:12px;
  margin-right:20px;
}

div#header #main-nav a,
div#footer #footer-nav a {
  font-family: "Trebuchet MS", Helvetica, Tahoma, sans-serif;
  font-size: 18px;
}

div#header #main-nav a span,
div#footer #footer-nav a span {
  font-size: 9px;
  color: #8F8F8F;
}

div#footer #footer-nav li.current a { color:#48887A; }

/* content */

#content { margin: 10px 0 50px 0; }
#content a { color: #48887A; }
#content a:hover { color: #9b9e9f; }

#content h2 a,
#content h3 a,
#content h4 a { color: #000; }

/* form */

.search-field {
  font-size: 20px;
}

textarea, input[type="text"], input[type="password"], select {
  background: white url(/images/input_bg.gif) repeat-x 50% 0%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  font-size: 15px;
  font-family: helvetica, arial, sans-serif;
  behavior: url(/javascripts/vendor/PIE.htc);
}

div.field{
  margin-bottom: 20px;
}

textarea, input, select {
  margin: 1px;
  padding: 3px;
}

input, select { line-height: 20px; }

textarea { width: 98%; }

input.title {
  width: 98%;
}

/* pagination */

.pagination {
  margin-top: 50px;
}

.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 3px;
  border: 1px solid #48887A;
  position: relative;
  color: #48887A;
}

.pagination span.disabled {
  color: #929292;
  border: 1px solid #DDD;
  background:none;
}

.pagination em {
  font-weight: bold;
  color: #FFF;
  border: 1px solid #000;
  background: #000;
}

.pagination a {
  text-decoration: none;
  color: #666;
  border: 1px solid #48887A;
}

.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .pagination { height: 1%; }
*:first-child+html .pagination { overflow: hidden; }

