<div style="text-align:left;">

  <h2>História</h2>

  <p>A sociedade <b>VOXMARK Assessoria e Consultoria em Propriedade Intelectual</b> nasceu de uma longa amizade e convivência de trabalhos entre as sócias <b>Cleide Maria Nienkoetter</b>, <b>Tatiany Farias</b> e <b>Ana Paula Preima Candido</b> desde o ano de 2003. </br>
Motivadas pelos fortes sentimentos que uniam pela temática da Propriedade Intelectual, as sócias - Cleide Maria Nienkoetter, Tatiany Farias e Ana Paula Preima Candido - decidiram constituir a empresa VOXMARK Assessoria e Consultoria em Propriedade Intelectual, com o objetivo principal de apresentar ao cenário empresarial a conscientização na importância econômica dos bens da propriedade intelectual para as empresas no mercado nacional.</p>

  <h2>Objetivo</h2>

  <p>A principal política da <b>VOXMARK</b> é proporcionar um trabalho personalizado para cada cliente, sendo esses únicos e especiais. Para satisfação e cumprimento das políticas da <b>VOXMARK</b> é dever principal da equipe, buscar, continuamente, o aperfeiçoamento de nossa metodologia de trabalho, investindo no aprimoramento intelectual e operacional de nossos profissionais, os quais, ao lado de nossos clientes, são os investimentos principais da <b>VOXMARK</b>. Sendo assim,  nos colocamos à disposição para maiores esclarecimentos, com o objetivo de oferecer serviços de excelência, com agilidade e objetivando a satisfação do solicitante.</p>

  <h2>Alguns Clientes</h2>

</div>

