<%= image_tag "banner.jpg", :class => "frame" %>

<div id="content">
  <div id="column1">
    <h2>Quem já utiliza Rails?</h2>
    <p>Dezenas de centenas de aplicações Rails já estão rodando em todo o mundo. Pessoas estão utilizando o Rails em diversas situações, desde pequena operações pequenas até gigantes corporações.</p>
  </div>

  <div id="column2">
    <h2>Quem está por trás?</h2>
    <p>Rails foi criado em 2003 por David Heinemeier Hansson e desde então foi expandido pelo time central do Rails, mais de 1.400 contribuidores e suportado por um vibrante ecossistema.</p>
  </div>
</div>