<div style="text-align:left;">

  <h2>Serviços</h2>

  <p>Os serviços oferecidos pela <b>VOXMARK Assessoria e Consultoria em Propriedade Intelectual</b> apresentam como princípios basilares - a Competência, Honestidade, Seriedade e Confiança.</p>

<p>A equipe VOXMARK Assessoria e Consultoria em Propriedade Intelectual é amplamente especializada e atuante no âmbito da Propriedade Intelectual, abrangendo como ramos de atuação, os seguintes serviços assinalados abaixo: </p>

<ul>
    <li>Registro de Marcas de Produto e/ou Serviço;
    <li>Registro de Desenho Industrial;
    <li>Registro de Softwares;
    <li>Elaboração, Análise e Averbação de Contratos de natureza de Propriedade Intelectual;
    <li>Requerimento de Patente de Invenção e/ou Modelo de Utilidade;
    <li>Direitos Autorais.
</ul>

<b>Registro de Marca:</b>

<p>Com a evidente evolução industrial no país, a marca é uma das iniciativas essenciais para uma empresa se consolidar no mercado em que opera, que tem por finalidade distinguir produto ou serviço dos demais que concorrem num mercado cada vez mais competitivo.</p>

<p>Na Propriedade Industrial, denominam-se de marca, todos os símbolos identificadores, singulares e particulares. Ou seja, marca é o sinal que comumente se apresenta de forma gráfica, figurativa ou de qualquer natureza isolada, atribuindo-se a ela a idéia de ser tudo que “tem condão de assinalar e distinguir produtos ou serviços”.</p>

<p>A marca, no direito industrial brasileiro, é todo sinal distintivo visualmente perceptível, capaz de distinguir ou atestar a qualidade de um produto ou serviço, conforme dispõe o artigo 122 da Lei n. 9.279, de 14 de maio de 1996.</p>

<p>Deste modo, a equipe VOXMARK Assessoria e Consultoria em Propriedade Intelectual proporciona ao cliente uma completa estrutura, para atender aos serviços requeridos por seus clientes, com seriedade e competência, junto aos Órgãos de competência no Direito Intelectual.  A VOXMARK Assessoria e Consultoria em Propriedade Intelectual apresenta os seguintes serviços de assessoria e consultoria em marca:</p>

<ul>
    <li>Busca prévia de marcas similares à marca pretendida;
    <li>Orientação e encaminhamento do pedido de registro;
    <li>Elaboração do processo de pedido de registro da marca;
    <li>Acompanhamento do pedido e/ou registro de marca;
    <li>Alteração de nome, endereço ou sede, transferência de titular ou quaisquer outros procedimentos decorrentes de alterações no titular;
    <li>Defesas Administrativas;
    <li>Procedimentos jurídicos de qualquer natureza (Notificações, Ações Judiciais, etc.);
    <li>Cumprimento de Exigências.
</ul>

<b>Requerimento Patente de Invenção e/ou Modelo de Utilidade:</b>

<p>Torna-se cada vez mais notória a interatividade econômica no cenário mundial, tendência que cresce em dimensão nacional, principalmente nos atos de comércio, tornando a patente fundamental para o crescimento e aperfeiçoamento do mundo globalizado.</p>

<p>Nesse sentindo, conforme o artigo 6°, da Lei da Propriedade Industrial – LPI, todo titular de uma invenção ou modelo de utilidade tem o direito junto ao INPI – Instituto Nacional da Propriedade Industrial de requerer a prioridade da patente sobre sua invenção e/ou aperfeiçoamento.</p>

<p>Somente com a concessão do pedido de patente é que seu titular terá seu direito resguardado, ou seja, direito à proteção integral de uma invenção ou modelo de utilidade. A partir do depósito do pedido no INPI, é garantido ao autor o direito ao uso, gozo e prioridade.</p>

<p>Portanto, para esse ramo do direito industrial a VOXMARK Assessoria e Consultoria em Propriedade Intelectual oferece os seguintes serviços:</p>

<ul>
    <li>Assessoria, Consultoria e Requerimento de Patentes de Invenção e/ou Modelo de Utilidade;
    <li>Acompanhamento de privilégios de patentes de invenções e/ou modelos de utilidades;
    <li>Transferências, alterações de titularidade e elaboração de contratos de tecnologia.
</ul>

<b>Registro de Desenho Industrial:</b>

<p>Desenho industrial, ou design, é bem incorpóreo, constituído de aspectos ornamentais.  Portanto, desenho industrial é tido como uma atividade criativa, inconfundível ao público, aos consumidores daquele “produto”, que passou por uma configuração ornamental, tendo, como exemplos clássicos, os frascos de perfumes e os produtos de higiene.</p>

<p>Para que possam ser tutelados os desenhos industriais, eles devem ser originais, devidamente registrados, e a reprodução só pode acontecer com autorização do proprietário (detentor do registro).</p>

<p>Portanto, para esse âmbito da Propriedade Intelectual, a VOXMARK Assessoria e Consultoria em Propriedade Intelectual oferece os seguintes serviços:</p>

<ul>
    <li>Assessoria, Consultoria e Elaboração de depósito de registro de desenho industrial;
    <li>Acompanhamento do pedido e/ou de desenho industrial;
    <li>Alteração de nome, endereço ou sede, transferência de titular ou quaisquer outros procedimentos decorrentes de alterações no titular;
    <li>Defesas Administrativas;
    <li>Procedimentos jurídicos de qualquer natureza (Notificações, Ações Judiciais, etc.);
    <li>Cumprimento de Exigências.
</ul>

</div>

