<div style="text-align:center;">
  <h2>Public Website</h2>

  <p><%= image_tag "screenshots/screenshot1.png" %></p>

  <h2>Blog</h2>

  <p><%= image_tag "screenshots/screenshot2.png" %></p>

  <h2>Admin Panel</h2>

  <p><%= image_tag "screenshots/screenshot3.png" %></p>

  <h2>Image Gallery</h2>

  <p><%= image_tag "screenshots/screenshot4.png" %></p>
</div>