<div id="column2">

    <h3>Endereço:</h3>

    <p>R. Pres. Nereu Ramos, 19 - Sala 405</br>
       Centro</br>
       CEP: 88015-010 - Florianópolis - SC </br>
       Fone/Fax: +55 48 3322-2599</p>

    <%= image_tag "mapa.png", :class => "frame"%>

</div>

